{% extends 'base.html.twig' %}

{% dump(subnet) %}


{% block body %}
    <h1>{% block title %}IPv4 address calculator{% endblock %}</h1>

    <div class="row align-items-start">
        <div class="col-6">

            <table class="table" id="subnet-infor-table">
                <tbody>
                <tr>
                    <th scope="row">Network subnet:</th>
                    <td>{{ subnet.ipv4AddressNetwork.getDecadic() }}/{{ subnet.ipv4Netmask.getCidr() }}</td>
                </tr>
                <tr>
                    <th scope="row">Netmask:</th>
                    <td>{{ subnet.ipv4Netmask.getDecadic() }}</td>
                </tr>
                <tr>
                    <th scope="row">Network address:</th>
                    <td>{{ subnet.ipv4AddressNetwork.getDecadic() }}</td>
                </tr>
                <tr>
                    <th scope="row">First address:</th>
                    <td>{{ subnet.ipv4FirstAddress.getDecadic() }}</td>
                </tr>
                <tr>
                    <th scope="row">Last address:</th>
                    <td>{{ subnet.ipv4LastAddress.getDecadic() }}</td>
                </tr>
                <tr>
                    <th scope="row">Broadcast address:</th>
                    <td>{{ subnet.ipv4AddressBroadcast.getDecadic() }}</td>
                </tr>
                <tr>
                    <th scope="row">Number of usable address:</th>
                    <td>{{ subnet.ipv4LastAddress.getInteger()-subnet.ipv4FirstAddress.getInteger()+1|number_format(0,' ',' ') }}</td>
                </tr>
                <tr>
                    <th scope="row">NSX CIDR:</th>
                    <td>{{ subnet.ipv4FirstAddress.getDecadic() }}/{{ subnet.ipv4Netmask.getCidr() }}</td>
                </tr>
                <tr>
                    <th scope="row">NSX Static IP pool:</th>
                    <td>{{ subnet.ipv4SecondAddress.getDecadic() }}-{{ subnet.ipv4LastAddress.getDecadic() }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if(smallerSubnets) %}
        <h2>Subnet calculator</h2>
        {% for smallerSubnet in smallerSubnets %}
            <div>
                <div style="float: left">
                    <ol>
                        {% for subnet in smallerSubnet %}
                            <li>
                                {# <a n:href="Ipv4:Info $ip=$item->__toString()">{$item->__toString()}</a> #}
                                <a href="{{ path("ipv4calc",{ip: subnet.__toString()}) }}">{{ subnet.__toString() }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
